.dialogs {
    grid-column-start: 3;
    grid-row-start: 2;
    display: flex;
    &:hover{
        background: #31333d;
    }
    .active {
        background: #31333d;
    }

    .userInfo {
        margin: auto 300px auto 30px;

        a {
            display: block;
            color: white;
            text-decoration: none;
        }
    }

    .userAva {
        grid-column-start: 1;
        width: 100px;
        height: 120px;
        //overflow: hidden;
        img {
            height: 100%;
            width: auto;
            object-fit: cover;
            max-width: 100%;
        }
    }
}
