.MyPosts {
    grid-row-start: 3;
    grid-column-start: 1;
    grid-column-end: 7;
    //display: grid;
    //grid-template: minmax(50px, auto) repeat(5, 1fr)/ 1fr 60px;
    padding: 0 20px;

    h3 {
        font-weight: normal;
    }

    .MyPosts__inputItems {
        //grid-column: span 4;

        .MyPosts__input {
            //убрать обводку при клике
            outline: none;
            width: 300px;
            height: 50px;
        }

        .MyPosts__sendButton {
            display: block;
            //margin-left: auto;
            grid-column: 3;
            //align-self: center;
            outline: none;
        }

    }

}
