.topSidebar {
    grid-area: top;
    background: #31333d;
    grid-column: 2/4;
    padding: 20px;
    color: #c1c2c6;
    font-size: 1.3rem;
    display: flex;
    justify-content: space-between;

    img {
        width: 20px;
        margin: 0 10px 0 0;
    }

    .topSidebar_find {
        a {
            color: white;
            text-decoration: none;
            margin-right: 1000px;
            font-size: 1rem;
        }
    }
}

