li {
    list-style: none;
}
body {
    background: #26416c;
}

.app-wrapper {
    display: grid;
    grid-template-rows: minmax(60px, auto) minmax(60px, auto) 1fr;
    grid-template-columns: 1fr minmax(100px, 200px) minmax(600px, 1200px) 1fr;
    /*grid-gap: 10px;*/
    grid-template-areas:
          "header header"
          "top top"
          "navbar content";
}
